# MacOS junk file
.DS_Store

# Virtual environments
.venv/

# Flask app databases
instance/

# Caches
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

# Stores environment variables which may contain secrets
.env

# Starter code
.build/
